body{font-family:"‚l‚r ‚o–¾’©","‚l‚r –¾’©";}
/*
.SB{font-family:"Vodafone—pŠG•¶š";}
.SB{font-family:"J-phone—pŠG•¶š";}
*/
.SB{font-family:"SoftBank—pŠG•¶š";}
.SBƒ¿{font-family:"SoftBank—pŠG•¶š";color:"silver";}
.Astel{font-family:"ƒAƒXƒeƒ‹ŠG•¶š—pƒtƒHƒ“ƒg";}
.DC{font-family:"imode—pŠG•¶š";}
.AU{font-family:"auŠG•¶š—pƒtƒHƒ“ƒg";}
.WC{font-family:"WillCom—pŠG•¶š";}
.JP{font-family:"J-phon—pŠG•¶š";}
table{background:"white";border-color:"silver";}
th,td{text-align:"center";border-color:"gray";}